<div mat-dialog-title>
    <h1>Insert Artist</h1>
</div> 

<div class="margin-form">
    <form [formGroup]="artistForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="content">
            <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name:</mat-label>
                <input name="name" matInput placeholder="Name of artist" formControlName="name" required>
            </mat-form-field>
            </div>
            
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Bio</mat-label>
                    <textarea name="bio" matInput formControlName="bio" required></textarea>
                </mat-form-field>
            </div>
            
            <div class="row">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Created Date</mat-label>
                    <input name="createdDate" matInput [matDatepicker]="picker" formControlName="createdDate" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div class="action">
                <button mat-raised-button color="primary" type="submit" [disabled]="!artistForm.valid" (click)="openDialog2()">Submit</button>
                <button mat-raised-button type="button" color="warn" routerLink="/artist">Cancel</button>
            </div>
        </div>
     </form>
</div>
