<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button  mat-icon-button (click)="sidenav.toggle();"> 
            <mat-icon >menu</mat-icon>
        </button>
        Angular Demo - Music
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container >
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <span *ngFor="let item of menu">
                <span *ngIf="item.children && item.children.length > 0">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div>
                                        <mat-icon>{{item.iconName}}</mat-icon>
                                        {{item.displayName}}
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span *ngFor="let child of item.children">
                                <mat-list-item routerLink="[child.route]">
                                    <div> 
                                    <mat-icon>{{child.iconName}}</mat-icon>
                                    {{child.displayName}}
                                    </div>
                                </mat-list-item>
                            </span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <mat-list-item routerLink="[item.route]">
                      <div>
                        <mat-icon>{{item.iconName}}</mat-icon>
                        {{item.displayName}}
                      </div>
                    </mat-list-item>
                  </span> 
            </span> 
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

